# Ignore Python virtual environment
venv/

# Byte-compilted / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor settings
.vscode/
.idea/
*.swp

# Logs and temporary files
*.log
*.temporary
.DS_Store
.env